@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap")
async;
:root {
  --font-text: "Roboto Mono", monospace;
  --font-title: "Rubik", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

.main-home {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 6rem;
  background: radial-gradient(#f3f3f3 15%, transparent 16%),
    linear-gradient(45deg, transparent 49%, #f3f3f3 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #f3f3f3 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #f8f8f8;
  opacity: 1;
}

.slider {
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
  overflow: hidden;
  position: relative;
}
.slides {
  width: 400%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100vh;

  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s ease;
  background: black;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.layout-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.25) 15%,
    rgba(0, 0, 0, 0) 25%
  );
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.navigation-auto {
  position: absolute;
  width: 100%;

  margin-top: 86vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.manual-btn {
  border: 2px white solid;
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div {
  border: 2px solid rgb(92, 149, 255);
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

.seta-direita-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  border-radius: 50%;
  right: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.seta-unica:hover {
  transform: scale(1.1);
}

.seta-unica {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.seta-esquerda-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  left: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.section-2-title {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  justify-content: center;
  gap: 2vw;
}

.section-2-title h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #222222;
  text-align: center;
}
.section-2-title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #222222;
  text-align: center;
  margin-bottom: 2vw;
}
.section-2-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
  padding: 0 10%;
}

.img-text-preto {
  background-color: black;
  height: 26vw;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-text-preto:hover img {
  opacity: 0.7;
}

.img-text-preto:hover .text-img h1 {
  bottom: 5.7vw;
}

.img-text-preto:hover .text-img p {
  opacity: 1;
}

.img-text-preto img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  position: relative;
  transition: all 0.8s ease;
}

.img-text-preto:hover .layout-preto-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0) 55%
  );
}

.layout-preto-texto {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0) 55%
  );
  z-index: 1;
  transition: all 0.3s ease;
}

.text-img {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 10;
  gap: 1vw;
  padding: 1.4vw;
}

.text-img h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5vw;
  color: rgb(240, 240, 240);
  position: relative;
  bottom: -0.4vw;
  transition: all 0.3s ease;
}

.text-img p {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1vw;
  color: rgb(240, 240, 240);
  position: absolute;
  text-align: left;
  bottom: 1.3vw;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 0 1.4vw;
  left: 0;
}
.icone {
  font-size: 2rem;
  display: none;
}

.section-2-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  text-align: left;
  width: 100%;
}

.section-3-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f86d75;
  text-transform: uppercase;
  padding-bottom: 2vw;
}

.section-2-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5vw;
  text-align: left;
  font-weight: bold;
  width: 100%;
  position: relative;
}

.section-2-text h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 3px;
}

.section-2-text h4::before {
  left: 0;
  bottom: -3px;
}

.section-2-text {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.section-2-text-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  gap: 7vw;
  margin-top: 4rem;
}

.section-2-img-container img {
  width: 100%;
  object-fit: contain;

  border-radius: 7px;
}

.section-2-img-container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bb6b24;
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 14px;
}

.section-2-text-img-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
}

.section-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5% 10%;
  position: relative;
}

.shape1 {
  width: 70%;
  height: 10vw;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  background: rgb(248, 109, 117);
  background: linear-gradient(
    90deg,
    rgba(248, 109, 117, 1) 0%,
    rgba(255, 27, 40, 1) 100%
  );
  transform: rotate(3deg);
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  top: -2vw;
  filter: blur(90px);
  left: -1vw;
}

.shape {
  width: 50%;
  height: 8vw;
  border-radius: 100% 0% 26% 74% / 100% 100% 0% 0%;
  background: rgb(255, 27, 40);
  background: linear-gradient(
    90deg,
    rgba(255, 27, 40, 1) 0%,
    rgba(248, 109, 117, 1) 100%
  );
  filter: blur(60px);
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  bottom: -1vw;
  right: -1vw;
}

.section-3-background {
  width: 100%;
  height: 42vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

.section-3-imgs {
  position: relative;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 20%;
  width: 40%;
  left: 20vw;
  overflow: hidden;
}

.section-3-imgs img:hover {
  transform: scale(1.05);
  filter: brightness(80%); /* Ajuste o valor conforme necessário (0% a 100%) */
}

.section-3-img-container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
}

.section-3-img-container img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  overflow: hidden;
  transition: all 0.3s ease;
  filter: brightness(100%);
}

.section-3-text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4vw;
  text-align: left;
  font-weight: bold;
  width: 100%;
  position: relative;
}
.section-3-text p {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  text-align: left;
  width: 100%;
  margin-bottom: 2vw;
  z-index: 2;
}

.section-3-text {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 40vw;
  overflow: hidden;
  background: #f8f8f8;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  left: 14vw;
  bottom: 8vw;
  z-index: 2;
  border-radius: 10px;
}
.section-3-imgs-flex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  gap: 1vw;
}

.section-4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15%;
  position: relative;
}

.pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.pics:hover {
  filter: opacity(0.8);
}

.pics img {
  width: 100%;
}

.section-4-imgs {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  max-height: 100%;
}

.icon-svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;

  color: white;
  cursor: pointer;
}

.section-4-absolute {
  width: 100%;
  height: 18vw;
  background: linear-gradient(to bottom, transparent 0%, #f8f8f8 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 83%;
  position: absolute;
}

.section-4-button {
  width: 12%;
  height: 20%;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  background: #bb6b24;
  position: relative;
  justify-content: center;
  cursor: pointer;
  top: 2vw;
}

.section-4-button h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  right: 0;
  padding: 2%;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
  color: white;
}
.section-4-button svg {
  font-size: 1rem;
  color: white;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.section-4-button:hover svg {
  opacity: 1;
  left: 80%;
}

.section-4-button:hover h1 {
  right: 1vw;
}

.section-5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #bb6b24;
}

.section-5-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-5-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;

  padding-left: 2vw;
  padding-right: 4vw;
}

.section-5-text h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
}

.section-5-text h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  position: relative;
  margin-bottom: 1vw;
}

.section-5-text p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.section-5-text h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%; /* Ajuste conforme necessário */
  border-bottom: 2px solid #ffffff; /* Escolha a cor e o estilo desejados */
  transform: translateX(-50%);
}

.section-5-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
}

.section-5-btn {
  width: 40%;
  height: 3vw;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
}

.section-5-btn:hover {
  background: white;
  color: #bb6b24;
}
