@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.main-home {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
  overflow: hidden;
  position: relative;

}
.slides {
  width: 400%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100vh;

  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s ease;
  background: black;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.layout-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.25) 15%,
    rgba(0, 0, 0, 0) 25%
  );
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.navigation-auto {
  position: absolute;
  width: 100%;
  
  margin-top: 86vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.manual-btn {
  border: 2px white solid;
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div {
  border: 2px solid rgb(92, 149, 255);
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
} 

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

.seta-direita-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  border-radius: 50%;
  right: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.seta-unica:hover {
  transform: scale(1.1);
}


 .seta-unica {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.seta-esquerda-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  left: 1%; 
  translate: (-50%, -50%);
  cursor: pointer;
}
