@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap")
async;
:root {
  --font-text: "Roboto Mono", monospace;
  --font-title: "Rubik", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Geometric706Black";
  src: url("../fonts/PublicaSansRound-Bd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main-home {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 12vw;
  background: radial-gradient(#f3f3f3 15%, transparent 16%),
    linear-gradient(45deg, transparent 49%, #f3f3f3 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #f3f3f3 49% 51%, transparent 51%);
  background-size: 3em 3em;
  background-color: #f8f8f8;
  opacity: 1;
  padding-top: 60px;
}

.slider {
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
  overflow: hidden;
  position: relative;
}

.slider-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slides {
  width: 500%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 80vh;

  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s ease;
  background: black;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.layout-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.25) 15%,
    rgba(0, 0, 0, 0) 25%
  );
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.navigation-auto {
  position: absolute;
  width: 100%;

  margin-top: 75vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.manual-btn:hover {
  background: rgb(255, 233, 193);
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
#radio5:checked ~ .first {
  margin-left: -100%;
}
.manual-btn {
  border: 2px rgb(255, 233, 193) solid;
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div {
  border: 2px solid rgb(92, 149, 255);
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: rgb(255, 233, 193);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: rgb(255, 233, 193);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: rgb(255, 233, 193);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: rgb(255, 233, 193);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: rgb(255, 233, 193);
}

.seta-direita-slide {
  position: absolute;
  width: 3vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 45%;
  border-radius: 50%;
  right: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.seta-direita-slide:hover,
.seta-esquerda-slide:hover {
  transform: scale(1.1);
}

.seta-unica {
  color: rgb(255, 233, 193);
  font-size: 2.6vw;
}

.seta-esquerda-slide {
  position: absolute;
  width: 3vw;
  height: 3vw;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 45%;
  left: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
  padding: 0 10%;
  position: relative;
  z-index: 10;
}

.section-2-title {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vw;
  justify-content: center;
  gap: 1vw;
}

.section-2-title h1 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  background: linear-gradient(to right, rgb(255, 224, 168), rgb(255, 231, 211));
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#chale {
  font-size: 10vw;
  margin-bottom: -3vw;
}

#chale2 {
  font-size: 4.8vw;
}

.section-2-title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.4vw;
  background: linear-gradient(to right, rgb(255, 237, 223), rgb(255, 237, 223));
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 2vw;
}
.section-2-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}

.img-text-preto {
  height: 22vw;
  background-color: rgb(0, 0, 0);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1vw;
  border: none;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.3 ease;
  width: 100%;
}

.img-text-preto:hover img {
  opacity: 0.4;
}

.img-text-preto:hover .text-img h1 {
  bottom: 5.9vw;
}

.img-text-preto:hover #espaço-gourmet {
  bottom: 8.8vw;
}

.img-text-preto:hover .text-img p {
  opacity: 1;
}

.img-text-preto img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  position: relative;
  transition: all 0.8s ease;
}

.img-text-preto:hover .layout-preto-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0) 55%
  );
}

.layout-preto-texto {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0) 55%
  );
  z-index: 1;
  transition: all 0.3s ease;
}

.text-img {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  z-index: 10;
  gap: 1vw;
  padding: 1.4vw;
}

.text-img h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5vw;
  color: rgb(240, 240, 240);
  position: relative;
  bottom: -0.4vw;
  transition: all 0.3s ease;
}

.text-img p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1vw;
  color: rgb(240, 240, 240);
  position: absolute;
  text-align: left;
  bottom: 1.3vw;
  opacity: 0;
  transition: all 0.3s ease;
  padding: 0 1.4vw;
  left: 0;
}
.icone {
  font-size: 2rem;
  display: none;
}

#paragrafo1 {
  margin-bottom: 3vw;
}

#paragrafo2 {
  font-weight: 700;
}

.section-3-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 2vw;
}

.section-3-title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2vw;
  text-align: left;
  color: linear-gradient(
    90deg,
    rgba(248, 109, 117, 1) 0%,
    rgba(255, 0, 15, 1) 100%
  );
}

.section-2-text h4 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 2.3vw;
  width: 100%;
  position: relative;
  color: rgb(204, 121, 54);
}

.section-2-text h1 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 4vw;
  width: 100%;
  position: relative;
  margin-top: -1vw;
  margin-bottom: 1vw;
  background: linear-gradient(to right, rgb(211, 107, 21), rgb(226, 137, 64));
  -webkit-background-clip: text;
  color: transparent;
}

.section-2-text h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 3px;
}

.section-2-text h4::before {
  left: 0;
  bottom: -3px;
}

.section-2-text {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.section-2-text-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  gap: 7vw;
  margin-top: 4rem;
}

.section-2-img-container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bb6b24;
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 14px;
}

.background-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  bottom: 0;
  opacity: 0.6;
}

.section-2-text-img-img {
  width: 100%;
  height: 40vw;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  gap: 3vw;

  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section-2-text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  text-align: left;
  width: 100%;
  margin-bottom: 1.2vw;
  color: #252525;
}

.section-2-text-img-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-3-bottom {
  width: 100%;
  height: 38vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 2vw;
}

.section-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;
  position: relative;
  gap: 1vw;
  padding: 0 10%;
}

.shape1 {
  width: 70%;
  height: 10vw;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  background: rgb(248, 109, 117);
  background: linear-gradient(
    90deg,
    rgba(248, 109, 117, 1) 0%,
    rgba(255, 27, 40, 1) 100%
  );
  transform: rotate(3deg);
  opacity: 0.1;
  z-index: 3;
  position: absolute;
  top: -2vw;
  filter: blur(120px);
  left: -1vw;
}

.shape {
  width: 30%;
  height: 8vw;
  border-radius: 100% 0% 26% 74% / 100% 100% 0% 0%;
  background: rgb(255, 27, 40);
  background: linear-gradient(
    90deg,
    rgba(255, 27, 40, 1) 0%,
    rgba(248, 109, 117, 1) 100%
  );
  filter: blur(100px);
  opacity: 0.2;
  z-index: 1;
  position: absolute;
  bottom: -1vw;
  right: -1vw;
}

.section-3-background {
  width: 100%;
  height: 42vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

.section-3-text-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-3-text h1 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  text-align: left;
  background: linear-gradient(
    to right,
    rgb(255, 70, 79),
    rgba(255, 140, 140, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}
.section-3-text h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  text-align: left;
  color: rgba(248, 109, 117, 1);
  margin-bottom: 3vw;
}

.section-3-imgs {
  position: relative;
  height: 100%;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

#image1 {
  width: 40%;
}

#image2 {
  width: 60%;
}

#image3 {
  width: 25%;
}

#image4 {
  width: 75%;
}

.section-3-imgs-top {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.section-3-imgs-bottom {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.section-3-imgs img:hover {
  transform: scale(1.05);
  filter: brightness(80%); /* Ajuste o valor conforme necessário (0% a 100%) */
}

.section-3-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.section-3-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  overflow: hidden;
  transition: all 0.3s ease;
  filter: brightness(100%);
}

.section-3-top h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  text-align: center;
  color: rgba(248, 109, 117, 1);
}

.section-3-top {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}

.section-3-top h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  color: rgba(248, 109, 117, 1);
}

.section-3-text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  text-align: left;
  width: 100%;
  margin-bottom: 1.2vw;
  z-index: 2;
  color: #252525;
}

.section-3-btn:hover {
  box-shadow: rgb(255, 70, 79, 0.5) 0px 0px 10px 0px;
  transform: scale(1.04);
}

.section-3-btn {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 2% 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.5vw;
  background: linear-gradient(
    to right,
    rgb(255, 70, 79),
    rgba(255, 140, 140, 1)
  );

  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 3vw;
}

.section-3-text {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 8vw 0 0;

  position: relative;
  z-index: 2;
  border-radius: 0;
}
.section-3-imgs-flex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  gap: 1vw;
}

.section-4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
  position: relative;
}

#promotion2 {
  font-size: 5.8vw;
  word-spacing: -0.2vw;
}

#promotion {
  font-size: 6vw;
  letter-spacing: -0.2vw;
  margin-bottom: -2vw;
  width: 100%;
}

.pics {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.pics:hover {
  filter: opacity(0.8);
}

.pics img {
  max-width: 100%;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  max-height: 100%;
}

.icon-svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;

  color: white;
  cursor: pointer;
}

.section-4-imgs {
  width: 100%;
  columns: 6;
}

.section-4-absolute {
  width: 100%;
  height: 18vw;
  background: linear-gradient(to bottom, transparent 0%, #f8f8f8 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 83%;
  position: absolute;
}

.section-4-button {
  width: 12%;
  height: 20%;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  background: #bb6b24;
  position: relative;
  justify-content: center;
  cursor: pointer;
  top: 2vw;
}

.section-4-button h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.45vw;
  right: 0;
  padding: 2%;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
  color: white;
}
.section-4-button svg {
  font-size: 1rem;
  color: white;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.section-4-button:hover svg {
  opacity: 1;
  left: 80%;
}

.section-4-button:hover h1 {
  right: 1vw;
}

.section-5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(255, 239, 223);
  background: linear-gradient(
    270deg,
    rgb(196, 145, 94) 0%,
    rgba(187, 107, 36, 1) 100%
  );
  margin-top: 3vw;
}

.section-5-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-5-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;

  padding-left: 2vw;
  padding-right: 10vw;
}

.section-5-text h2 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6vw;
  margin-bottom: -0.8vw;
}

.section-5-text h1 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
  position: relative;
}

.section-5-text p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

.section-5-text h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%; /* Ajuste conforme necessário */
  border-bottom: 2px solid #ffffff; /* Escolha a cor e o estilo desejados */
  transform: translateX(-50%);
}

.section-5-text h3 {
  font-family: "Geometric706Black", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2vw;
  margin-top: 2vw;
  margin-bottom: 0;
}

.section-5-btn {
  width: 40%;
  height: 3vw;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  border-radius: 5vw;
}

.section-5-btn:hover {
  background: white;
  color: #bb6b24;
}

.section-4-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3vw;
}

.section-4-title h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
  margin-bottom: 0.5vw;
}

.section-4-title p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1vw;
}

.divisor img {
  width: 100%;
  object-fit: contain;
  height: auto;
  pointer-events: none;
}

.divisor {
  width: 50%;
  pointer-events: none;
  user-select: none;
}
