@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap")
async;
:root {
  --font-text: "Roboto Mono", monospace;
  --font-title: "Rubik", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

.main-home {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fffafa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 6rem;
}

.slider {
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
  overflow: hidden;
  position: relative;
}
.slides {
  width: 400%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 100vh;

  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 1s ease;
  background: black;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.layout-preto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 5%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.25) 15%,
    rgba(0, 0, 0, 0) 25%
  );
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.navigation-auto {
  position: absolute;
  width: 100%;

  margin-top: 86vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -25%;
}
#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}
.manual-btn {
  border: 2px white solid;
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div {
  border: 2px solid rgb(92, 149, 255);
  padding: 0.3vw;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

.seta-direita-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  border-radius: 50%;
  right: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease;
}

.seta-unica:hover {
  transform: scale(1.1);
}

.seta-unica {
  color: white;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.seta-esquerda-slide {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 40%;
  left: 1%;
  translate: (-50%, -50%);
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.section-2-title h1 {
  font-family: var(--font-rubik);
  font-weight: bold;
  font-size: 2rem;
  color: #222222;
  text-align: center;
}
.section-2-title h2 {
  font-family: var(--font-rubik);
  font-weight: bold;
  font-size: 1.2rem;
  color: #222222;
  text-align: center;
  margin-bottom: 2vw;
}

.section-2-title p {
  font-family: var(--font-text);
}

.section-2-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  padding: 0 10%;
}

.img-text-preto {
  background-color: black;
  height: 200px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  overflow: hidden;
}

.img-text-preto img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  margin: 0;
  object-fit: cover;
}

.text-img {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  gap: 1vw;
}

.text-img h1 {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 1.2rem;
}
.icone {
  font-size: 2rem;
}

.section-2-text p {
  font-family: var(--font-text);
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

.section-2-text {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
.section-2-text-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  gap: 7vw;
  margin-top: 4rem;
}

.section-2-text-img-img img {
  width: 100%;
  object-fit: contain;
}

.section-2-text-img-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.section-3 {
  background: #ffd7dc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5% 10%;
}

.section-3-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.section-3-imgs img {
  width: 40%;
  object-fit: contain;
}

.section-3-text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 2vw;
}
.section-3-imgs-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1vw;
}

.section-4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15%;
  position: relative;
}

.pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.pics:hover {
  filter: opacity(0.8);
}

.pics img {
  width: 100%;
}

.section-4-imgs {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  max-height: 100%;
}

.icon-svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;

  color: white;
  cursor: pointer;
}

.section-4-absolute {
  width: 100%;
  height: 12vw;
  background: linear-gradient(to bottom, transparent 0%, #fffafa 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 83%;
  position: absolute;
}

.section-4-button {
  width: 12%;
  height: 30%;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  background: #bb6b24;
  position: relative;
  justify-content: center;
  cursor: pointer;
  top: 2vw;
}

.section-4-button h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  right: 0;
  padding: 2%;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
  color: white;
}
.section-4-button svg {
  font-size: 1rem;
  color: white;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.section-4-button:hover svg {
  opacity: 1;
  left: 80%;
}

.section-4-button:hover h1 {
  right: 1vw;
}
