@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Geometric706Black";
  src: url("../fonts/PublicaSansRound-Bd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background: transparent;
  transition: background 0.5s ease; /* Adicione uma transição suave à propriedade background-image */
}

.solid-background {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: rgb(78, 76, 77);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #e7dcd2;
  --mainColorLight: #a78558;
  --secondaryColor: #50381d;
  --textColor: #8d674a;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: transparent;

  margin-bottom: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
}
nav {
  height: 100%; /* Ajusta a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 0 3vw;
  color: #e4e4e4;
  text-decoration: none;
  transition: 0.5s ease;
  font-size: 1vw;
  width: 5vw;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:after {
  content: "";
  display: block;
  position: absolute;

  bottom: -2px;

  left: 50%;
  transform: translateX(-50%);
  width: 0%; /* Ajuste conforme necessário para a largura do traçado */
  height: 2px; /* Ajuste conforme necessário para a espessura do traçado */
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: white; /* Cor do traçado */
}

nav a:hover:after {
  width: 100%;
}

header .nav-btn {
  display: block;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-family: "Geometric706Black", sans-serif;
  font-weight: 800;
  font-size: 1.4vw;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-container a {
  text-decoration: none;
}
.logo-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
nav {
  height: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
}

.nav-close-btn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  nav a {
    text-align: center;
    font-size: 3vw;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
    flex-direction: column-reverse;
  }
  header .responsive_nav {
    transform: none;
  }
  .nav-close-btn {
    display: block;
    font-size: 3vw;
  }
}
